services:
  - type: web
    name: weather-django
    env: python
    buildCommand: |
      pip install --upgrade pip setuptools wheel
      pip install -r requirements.txt
    startCommand: gunicorn weather_project.wsgi:application --bind 0.0.0.0:$PORT
